<h2>Demos</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <ul>
        <li>
          <LinkTo @route="examples.dbmon">dbMon</LinkTo>
        </li>
        <li>
          <LinkTo @route="examples.infinite-scroll">Infinite Scroll</LinkTo>
        </li>
        <li>
          <LinkTo @route="examples.flexible-layout">Flexible Layout</LinkTo>
        </li>

        <li>
          <LinkTo @route="examples.scrollable-body">Scrollable Body</LinkTo>
        </li>
      </ul>
    </div>
    <div class="col-sm-8 bg-success">
      <h3>Don't see what you're looking for?</h3>
      <p>
        If you think you need to support a behavior and are unsure if
        smoke-and-mirrors can handle the situation, open an issue or ask on
        <a href="https://discord.gg/zT3asNS">discord</a>
      </p>
    </div>
  </div>
</div>