<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <h3>Demo</h3>
      <div class="demo-wrapper bg-dark">
        {{!- BEGIN-SNIPPET dbmon-example }}
          <div class="table-wrapper">
            <table class="table table-striped latest-data">
              {{#vertical-collection model.databases
                containerSelector=".table-wrapper"
                tagName="tbody"
                minHeight=37
                staticHeight=true

                as |db|
              }}
                {{examples/dbmon/components/dbmon-row tagName="tr" db=db}}
              {{/vertical-collection}}
            </table>
          </div>
        {{!- END-SNIPPET }}
      </div>
    </div>
    <div class="col-sm-6">
      <h3>Vertical Collection</h3>
      <p>
        The Vertical Collection smartly hides and removes off screen content.
      </p>
      <p>
        This makes building high frame-rate or render expensive components easier by
        focusing only on what's on screen now.
      </p>
      <h4>Code for Demo</h4>
      {{code-snippet name="dbmon-example.hbs"}}
    </div>
  </div>
</div>
