<div class="container-fluid">
  <div class="row">
    <div class="col-sm-7">
      <h4>Available Settings (with defaults)</h4>
      <CodeSnippet @name="vertical-collection-defaults-example" />
    </div>
    <div class="col-sm-5">
      <h3>Vertical Collection</h3>
    </div>
  </div>
</div>
