<header class="container-fluid">
  <div class="row">
    {{#link-to "index" tagName="h1" class="col-sm-6"}}
      <img alt="HTML Next Logo" src="./HTML-Next.png" style="height: 2em;">
      Vertical Collection
    {{/link-to}}
    <nav class="col-sm-6 text-small text-right">
      {{#link-to "examples"}}Demos{{/link-to}}
      {{#link-to "settings"}}Settings{{/link-to}}
    </nav>
  </div>
</header>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      {{outlet}}
    </div>
  </div>
</div>

