<div class="table-wrapper dark">
  {{#vertical-collection
    content=model
    minHeight=50
    bufferSize=5

    as |item index|}}
    {{number-slide item=item index=index}}
  {{/vertical-collection}}
</div>
