body {
  height: 100%;
}

h1 {
  color: #222;
  font-size: 2rem;
  line-height: 2.1em;
  margin: 0.25em auto;
  padding: 0;
}

header {
  background: #efd967;
  border-bottom: solid 1px #e4ce5c;
}

nav {
  font-size: 2rem;
  line-height: 2.5em;
  color: #333;
  text-align: center;
}

nav a {
  color: #222;
}

.Query {
  position: relative;
}

.Query:hover .popover {
  top: 10px;
  left: -100px;
  width: 200px;
  display: block;
}

.table-wrapper,
.scrollable {
  display: block;
  height: 500px;
  overflow: scroll;
  position: relative;
  background: #fff;
}

.scrollable.with-pixel-max-height {
  height: initial;
  max-height: 200px;
}

.scrollable.with-percent-max-height {
  height: initial;
  max-height: 50%;
}

.scrollable.with-em-max-height {
  height: initial;
  max-height: 10em;
}

.scrollable.with-rem-max-height {
  height: initial;
  max-height: 20rem;
}

.table-wrapper.dark,
.bg-dark {
  background: #d0d0d0;
}

.demo-wrapper {
  margin-top: 25px;
  padding: 15px;
}

.table-wrapper table {
  height: 500px;
}

.table-wrapper table tr {
  height: 37px;
}

.image-slide {
  width: 250px;
  height: 270px;
  margin: 0 auto;
  padding: 10px 0;
  position: relative;
}

number-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  width: 250px;
  height: 4em;
  line-height: 4em;
  margin: 10px auto;
  background: #1f2f30;
  border: 1px solid #bbb;
  box-shadow: 1px 1px 5px 0 #d0d0d0;
  color: #fff;
}

.grid-item number-slide {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

number-slide .number {
  font-size: 1.2em;
  font-weight: 900;
}

.grid-item number-slide .number {
  font-size: 0.8em;
}

number-slide .index {
  font-size: 2rem;
  color: #555;
  margin: 0 0.5em;
}

.grid-item number-slide .index {
  font-size: 1rem;
}

.image-slide.flexible {
  height: auto;
}

img.async-image {
  background: #1f2f30;
  border: 1px solid #bbb;
  box-shadow: 1px 1px 5px 0 #d0d0d0;
}

.grid-item,
img.async-image.grid-image {
  background: #efefef;
  border: 1px solid #e0e0e0;
  width: 20%;
  height: 100px;
  margin: 0;
  box-sizing: border-box;
  float: left;
}

.grid-page {
  width: 100%;
  float: left;
  height: auto;
  min-height: 500px;
}

.grid-page::after {
  content: " ";
  display: block;
  float: none;
  clear: both;
  width: 100%;
}

.auto-box {
  float: left;
}

.image-slide.flexible img.async-image {
  height: auto;
  min-height: 250px;
}

.image-slide .loading-spinner {
  background: url("/spinnerLarge.svg") center center no-repeat;
  background-size: 64px 64px;
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  float: left;
}

.text-white,
.text-white:hover,
.text-white:active,
.text-white:focus {
  color: #fff;
}

.text-small {
  font-size: 1.4rem;
}

nav.text-small {
  line-height: 4.2rem;
  margin: 0.55rem 0;
}

nav.text-small a {
  margin: 0 0.5em;
}

img.auto-size {
  width: 100%;
  height: auto;
}

.display-inline {
  display: inline-block;
}

vertical-item {
  display: block;
}
