<div class="virtual-component-renderer">
  {{#each radar.virtualComponents key="id" as |virtualComponent|}}
    {{{unbound virtualComponent.upperBound}}}
      {{yield
        virtualComponent.content
        virtualComponent.index
        (action 'heightDidChange' virtualComponent)
      }}
    {{{unbound virtualComponent.lowerBound}}}
  {{/each}}
</div>

{{#if shouldYieldToInverse}}
  {{yield to="inverse"}}
{{/if}}
