<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <h3>Demo</h3>
      <div class="demo-wrapper bg-dark">
        {{! BEGIN-SNIPPET dbmon-example }}
        <div class="table-wrapper">
          <table class="table table-striped latest-data">
            <tbody>
              <VerticalCollection
                @items={{@model.data.databases}}
                @containerSelector=".table-wrapper"
                @key="id"
                @estimateHeight={{37}}
                @staticHeight={{true}}
                @bufferSize={{5}}
                as |db|
              >
                <Examples::Dbmon::Components::DbmonRow
                  @tagName="tr"
                  @db={{db}}
                />
              </VerticalCollection>
            </tbody>
          </table>
        </div>
        {{! END-SNIPPET }}
      </div>
    </div>
    <div class="col-sm-6">
      <h3>Vertical Collection</h3>
      <p>
        The Vertical Collection smartly hides and removes off screen content.
      </p>
      <p>
        This makes building high frame-rate or render expensive components
        easier by focusing only on what's on screen now.
      </p>
      <h4>Code for Demo</h4>
      <CodeSnippet @name="dbmon-example" />
    </div>
  </div>
</div>