name: CI

on:
  push:
    branches:
      - main
      - master
  pull_request: {}

concurrency:
  group: ci-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: "Tests"
    runs-on: ubuntu-latest
    timeout-minutes: 12

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Use Volta
        uses: volta-cli/action@v4
      - name: Node Modules Cache
        id: cache-npm
        uses: actions/cache@v3
        with:
          path: '**/node_modules'
          key: ci-yarn-${{ hashFiles('yarn.lock') }}
      - name: Install Dependencies
        if: steps.cache-npm.outputs.cache-hit != 'true'
        run: yarn install --frozen-lockfile
      - name: Lint
        run: yarn lint
      - name: Run Build
        run: . bin/restore-env.sh && yarn run ember build
      - name: Run Tests
        uses: nick-fields/retry@v2
        with:
          timeout_minutes: 2
          max_attempts: 5
          command: . bin/restore-env.sh && CI=true yarn run ember test --path=dist

  floating:
    name: "Floating Dependencies"
    runs-on: ubuntu-latest
    timeout-minutes: 12

    steps:
      - uses: actions/checkout@v3
      - name: Use Volta
        uses: volta-cli/action@v4
      - name: Install Dependencies
        run: yarn install --no-lockfile
      - name: Run Build
        run: yarn run ember build
      - name: Run Tests
        uses: nick-fields/retry@v2
        with:
          timeout_minutes: 2
          max_attempts: 5
          command: CI=true yarn run ember test --path=dist

  try-scenarios:
    name: ${{ matrix.try-scenario }}
    runs-on: ubuntu-latest
    timeout-minutes: 12

    strategy:
      fail-fast: false
      matrix:
        try-scenario:
          - ember-lts-3.28
          - ember-lts-4.12
          - ember-lts-5.12
          - ember-6.1
          - ember-release
          - ember-beta
          - ember-canary
          - embroider-safe
          - embroider-optimized

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Use Volta
        uses: volta-cli/action@v4
      - name: Stash yarn.lock for cache key
        run: cp yarn.lock __cache-key
      - name: Node Modules Cache
        id: cache-npm
        uses: actions/cache@v3
        with:
          path: |
            node_modules
            package.json
            yarn.lock
            __env
          key: ci-yarn-v3-${{ matrix.try-scenario }}-${{ hashFiles('config/ember-try.js', '__cache-key') }}
          restore-keys: |
            ci-yarn-${{ hashFiles('yarn.lock') }}
      - name: Install Dependencies
        if: steps.cache-npm.outputs.cache-hit != 'true'
        run: yarn install --frozen-lockfile
      - name: Ember-Try Setup
        if: steps.cache-npm.outputs.cache-hit != 'true'
        run: node_modules/.bin/ember try:one ${{ matrix.try-scenario }} --skip-cleanup --- bin/stash-env.sh
      - name: Run Build
        run: . bin/restore-env.sh && yarn run ember build
      - name: Run Tests
        uses: nick-fields/retry@v2
        with:
          timeout_minutes: 2
          max_attempts: 5
          command: . bin/restore-env.sh && CI=true yarn run ember test --path=dist
