name: Vertical Collection CI
on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    timeout-minutes: 8

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Use Volta
        uses: volta-cli/action@v1

      - name: Node Modules Cache
        uses: actions/cache@v3
        with:
          path: '**/node_modules'
          key: ci-yarn-${{ hashFiles('**/yarn.lock') }}

      - name: Install Dependencies
        run: yarn install --frozen-lockfile

      - name: Lint
        run: yarn lint

      - name: Run Tests
        run: bin/run-tests-with-retry.sh
        env:
          CI: true

  test-ember-try:
    name: Run Tests
    runs-on: ubuntu-latest
    timeout-minutes: 9

    strategy:
      fail-fast: false
      matrix:
        ember-version:
          [
            ember-lts-2.18,
            ember-lts-3.4,
            ember-lts-3.8,
            ember-lts-3.12,
            ember-lts-3.16,
            ember-lts-3.20,
            ember-lts-3.24,
            ember-lts-3.28,
            ember-4.4,
            ember-release,
            ember-beta,
            ember-canary,
          ]

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Use Volta
        uses: volta-cli/action@v1

      - name: Node Modules Cache
        uses: actions/cache@v3
        with:
          path: '**/node_modules'
          key: ci-yarn-${{ matrix.ember-version }}-${{ hashFiles('**/yarn.lock') }}

      - name: Install
        run: yarn install --frozen-lockfile --ignore-engines

      - name: Run Tests
        run: node_modules/.bin/ember try:one ${{ matrix.ember-version }} --skip-cleanup --- bin/run-tests-with-retry.sh
