<div class="container-fluid">
  <div class="row">
    <div class="col-sm-7">
      {{! BEGIN-SNIPPET scrollable-body-example }}
      <VerticalCollection
        @items={{@model.data.numbers}}
        @estimateHeight={{40}}
        @containerSelector="body"
        as |item index|
      >
        <NumberSlide @isDynamic={{true}} @item={{item}} @index={{index}} />
      </VerticalCollection>
      {{! END-SNIPPET }}
    </div>
    <div class="col-sm-5">
      <h3>Scrolling based on the whole page.</h3>
      <h4>Code for Demo</h4>
      <CodeSnippet @name="scrollable-body-example" />
    </div>
  </div>
</div>